
:root {
    --colorFondo:#E5E5E5;
    --colorPrimario:#F3F5FC ;
    --colorSecundario: #0A3871;
    --colorTerciario:#D8DFE8; 
    --blanco: #fff;
    
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--colorFondo);
    position: relative;
    width: 1440px;
    height: 1024px;
}


.logo__alura{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;


   
}
.campo_de_texto{
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: var(--colorSecundario);   
    background: var(--colorFondo);
    border: none;

}
.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;


}
.fotmato_de_texto{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 250px;
    height: 18px;
    margin-left: 250px;
    margin-top: 851px;


}
.boton_encriptar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: var(--colorSecundario);
    border-radius: 24px;
    flex: none;
    border: 0;
    flex-grow: 0;
    color: var(--colorTerciario);
    justify-content: center;


}
.boton_desencriptar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: var(--colorTerciario);
    border: 1px solid var(--colorSecundario);
    border-radius: 24px;
    flex: none;
    border: 1;
    flex-grow: 0;
    color: var(--colorSecundario);
    justify-content: center;

}
.seccion__texto__encriptado{
    
    width: 400px;
    height: 944px;
    margin-left: 1000px;
    margin-top: 40px;
    background: var(--blanco);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    justify-content: center;
    text-align: center;
}
.img_muneco{
    width: 336px;
    height: 304px;
    left: 1032px;
    margin-top: 283px;



}
.uno{
    width: 336px;
    height: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    flex: none;
    border: 0;
    align-self: stretch;
    flex-grow: 0;
    text-align: center;
    margin-left: 40px;
    margin-top: 20px;



}

.decripcion_dos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    text-align: center;
    width: 336px;
    height: 122px;
    margin-left: 1032px;
    margin-top: 619px;
    font-size: 24px;
    justify-content: center;
   



}
.dos{
    width: 336px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    border: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-left: 40px;
}
